.list-uploads{
<<<<<<< HEAD
  width: 630px;
}
.upload{
  border-radius: 10px;
  background-color: #f5f5f5;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upload-info-container{
  width: 100%;
}
.list-uploads-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
  .user-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.video-entry{
  list-style-type: none;
  font-weight: bold;
  margin-left: -15px;
  padding-bottom: 20px;
}
.user-entry{
  list-style-type: none;
  font-weight: bold;
}
#name{
  font-size: larger;
}

#media{
  margin-top: 20px;
}
.button-div{
  min-width: 140px;
  justify-content: space-between;
  display: flex;
  margin-right: 8px;
}
=======
    width: 100%;
}

.upload{
    border-radius: 10px;
    background-color: #f5f5f5;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.upload-info-container{
    width: 100%;
}
  
.list-uploads-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
    
.user-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
  
.video-entry{
    list-style-type: none;
    font-weight: bold;
    margin-left: -15px;
    padding-bottom: 20px;
}
  
.user-entry{
    list-style-type: none;
    font-weight: bold;
}
  
#name{
    font-size: larger;
}
  
#media{
    margin-top: 20px;
}
  
.button-div{
    min-width: 140px;
    justify-content: space-between;
    display: flex;
    margin-right: 8px;
}
>>>>>>> main
