.User-container{
  background-color: white;
  border-radius: 20px;
  padding: 10px 100px;
  margin: 30px 50px;
  height:100vh;
  display: flex;
  flex-direction: column;
}

.User-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* margin-bottom: 20px; */

}

#user-icon{
  font-size: 50px;
}

/* .User-picture{
  width: 100px;
  margin: 20px 20px 20px 0px;
} */

.User-bio{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
}

.User-name{
  font-weight: bold;
}

.User-detail{
  font-size: small;
  color: #808080;
}

.User-upload-area{
 height: 80%;
 min-width: 20vh;
}

.User-upload-header{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
}

.User-upload-h2{
  font-weight: bold;
}

@media (max-width: 768px) {
  .User-upload-h2 {
    display: flex; /* Stacks items vertically on smaller screens */
    align-items: center; /* Center items horizontally and vertically on smaller screens */

  }
}

.User-upload-btn{
  background-color: #73a0b4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

.User-upload-btn:hover{
  background-color: white;
  color: #73a0b4;
  border: 1px solid;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

.User-upload-btn-area{
  display: flex;
  align-items: center;
}

.User-upload-history{
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  display: grid;
  place-items: center;
  height: 80%;
  max-width: 100%;
  color: #808080;

}

@media (max-width: 768px) {
  .User-upload-history{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}