.App {
  text-align: center;
}

body{
  background-color: #E7D5EF;
}

/* nav bar */
.nav-container{
    min-height: 10vh;
    padding: 20px;
    margin: 0px 30px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.nav-right{
  margin-top: 8px;
}

.nav-link-main{
    text-decoration: none;
    font-size: 36px;
    padding:0.5rem;
    font-family: -apple-system, BlinkMacSystemFont,'Roboto',
    sans-serif;
    font-weight: bolder;
    color: #282c34;
    vertical-align: middle;
}

.nav-logo{
    padding-right: 0.5rem;
    height: 5vmin;
    pointer-events: visible;
}

/* main page */
.main-container{
  background-color: white;
  border-radius: 20px;
  padding: 10px 150px;
  margin:30px 50px;
  /* height:100vh; */
  display: grid;
  justify-content: center;
 
}

/* input upload */
.upload-btn{
  font-size: 1.4rem;
  border: 1px solid;
  border-radius: 35px;
  /* flex-grow: 1; */
  padding-left: 1.6rem;
  width: 500px;
  justify-content: left;
  display: flex;
}

.upload-media{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.col-form-label{
  display: flex;
  justify-content: left;
}
