.App {
  text-align: center;
}
nav{
    padding: 1rem;
}

.nav-link-main{
    text-decoration: none;
    font-size: 36px;
    padding:0.5rem;
    font-family: -apple-system, BlinkMacSystemFont,'Roboto',
    sans-serif;
    font-weight: bolder;
    color: #282c34;
    vertical-align: middle;
    /* display: inline-block; */
}

.nav-link-signin, .nav-link-signup{
    text-decoration: none;
    font-size: 18px;
    padding:0.5rem;
    font-family: -apple-system, BlinkMacSystemFont,'Roboto',
    sans-serif;
    color: #282c34;
    vertical-align: middle;
    display: -webkit-inline-flex;
    justify-content: flex-end;
   

}

.nav-link-signup{
  border: 1px solid #282c34;
  border-radius: 0.5rem;
  background-color: #282c34;
  color: white;
}

.nav-logo{
    /* padding: 1rem; */
    padding-right: 0.5rem;
    height: 5vmin;
    pointer-events: visible;
    vertical-align: middle;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E7D5EF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
