.App {
  text-align: center;
}
nav{
    padding: 1rem;
}

.nav-link-main{
    text-decoration: none;
    font-size: 36px;
    padding:0.5rem;
    font-family: -apple-system, BlinkMacSystemFont,'Roboto',
    sans-serif;
    font-weight: bolder;
    color: #282c34;
    vertical-align: middle;
    /* display: inline-block; */
}

.nav-link-signin, .nav-link-signup{
    text-decoration: none;
    font-size: 18px;
    padding:0.5rem 1rem;
    font-family: -apple-system, BlinkMacSystemFont,'Roboto',
    sans-serif;
    color: #282c34;
    vertical-align: middle;
    display: -webkit-inline-flex;
    /* justify-content: flex-end; */
}

.nav-link-signup{
  border: 1px solid #282c34;
  border-radius: 0.5rem;
  background-color: #282c34;
  color: white;
}

.nav-logo{
    /* padding: 1rem; */
    padding-right: 0.5rem;
    height: 5vmin;
    pointer-events: visible;
    vertical-align: middle;

}